/* CSS Styles for posts */

.post {
  margin-top: 2rem;
}

/*  editor and form fields  */
#editor {
  cursor: text;

  * {
    cursor: text;
  }
}
[role="toolbar"].ql-toolbar {
  .ql-formats {
    button {
      margin: 0;

      height: 30px;
    }
  }
}

#selectedThumbnail {
  cursor: pointer;
  object-position: center;
  object-fit: contain;
  max-height: 500px;
  display: block;
  width: 100%;
}

.delete-post-confirm-dialog {
  max-height: 250px;
}

#imageDialog {
  max-width: 1000px;

  .gallery {
    overflow: scroll;
    height: 100%;

    img {
      object-position: center;
      object-fit: contain;
      width: 100px;
      height: 100px;
      background: #fff7eb;
      border-radius: 5px;
      overflow: hidden;
      margin: 5px 5px;
      display: inline-block;
    }
  }
}

.image-placeholder {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: #fff7eb;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: transparent;
    font-size: 50px;
    color: rgb(192, 124, 23);
  }
}

.image-placeholder-thumbnail-overwrite {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background-color: #fff7eb;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: transparent;
    font-size: 50px;
    color: rgb(192, 124, 23);
  }
}

.ql-formats {
  border-left: 1px solid #c8c8c8;
  margin-bottom: 8px;
  padding: 4px;

  button {
    width: 30px;
  }
}
