/* CSS Styles for posts */

.post {
  margin-top: 2rem;
}

/*  editor and form fields  */
#editor {
  cursor: text;

  * {
    cursor: text;
  }

  .ql-editor {
    font-size: 20px;
    line-height: 1.6;

    * {
      font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--theta);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Boldonse", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-weight: 800;
      font-style: normal;
    }
  }
}
[role="toolbar"].ql-toolbar {
  .ql-formats {
    button {
      margin: 0;

      height: 30px;
    }
  }
}

#selectedThumbnail {
  cursor: pointer;
  object-position: center;
  object-fit: contain;
  max-height: 500px;
  display: block;
  width: 100%;
}

.delete-post-confirm-dialog {
  max-height: 250px;
}

#imageDialog {
  max-width: 1000px;

  .gallery {
    overflow: scroll;
    height: 100%;

    img:not(.thumbnail) {
      object-position: center;
      object-fit: contain;
      width: 100px;
      height: 100px;
      background: #fff7eb;
      border-radius: 5px;
      overflow: hidden;
      margin: 5px 5px;
      display: inline-block;
    }
  }
}

.image-placeholder {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: #fff7eb;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: transparent;
    font-size: 50px;
    color: rgb(192, 124, 23);
  }
}

.image-placeholder-thumbnail-overwrite {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background-color: #fff7eb;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: transparent;
    font-size: 50px;
    color: rgb(192, 124, 23);
  }
}

.ql-formats {
  border-left: 1px solid #c8c8c8;
  margin-bottom: 8px;
  padding: 4px;

  button {
    width: 30px;
  }
}

/*  public view of the post page */
.single-post-container {
  background-color: white;
  margin: 100px auto;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  img:not(.thumbnail) {
    max-width: 500px;
    height: auto;
    object-fit: contain;
    object-position: left;
    max-height: 500px;
    width: 100%;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  .thumbnail {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 24px auto;
    object-fit: cover;
    object-position: center;
  }

  p,
  * {
    margin: 0 0 16px 0;
    line-height: 1.6;
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  a,
  a:visited,
  a:active,
  a:hover {
    font-weight: 600;
    color: var(--epsilon) !important;
  }

  h1 {
    margin: 0 0 16px 0;
    font-size: 36px;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  h2,
  h3 {
    margin: 0 0 16px 0;
    font-size: 30px;

    @media (max-width: 768px) {
      font-size: 26px;
    }
  }

  h4,
  h5 {
    margin: 0 0 14px 0;
    font-size: 26px;
    opacity: 0.8;

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  h6 {
    margin: 0 0 12px 0;
    font-size: 22px;
    opacity: 0.8;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .post-title {
    font-size: 48px;
    margin: 0 0 24px 0;
    border-bottom: 1px solid var(--epsilon);
    padding-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}

/* blog page */

.blog-container {
  margin: 100px auto 0;

  h1 {
    font-size: 48px;
    margin: 0 0 24px 0;
    border-bottom: 1px solid var(--epsilon);
    padding-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  input {
    background-color: var(--epsilon);
    color: var(--alpha);
    padding: 16px;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--alpha);
    }
  }

  .blog-posts-list {
    padding: 12px 24px;
    background-color: white;

    .post-info {
      width: 100%;
      .post-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 4.5em;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        img,
        ul {
          display: none;
        }
      }
    }

    .blog-post {
      background-color: white;
      padding: 16px;
      container-type: inline-size;
      border-bottom: 1px solid var(--zeta);

      .blog-thumbnail {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        display: block;

        @container (max-width: 600px) {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
